header.header
  .header__left
    a.header__logo(href="#!")
      img.logo(src="images/pm-logo.svg" alt="PM logotype" width="144" height="44")
  .header__center 
    p.header__text 
      | КАЗИНО 
      span.color--accent PARIMATCH 
      | С ГАРАНТИЕЙ ВЫПЛАТ
  .header__right
    a.btn.header__btn(href="#!")
      span.btn__text РЕГИСТРАЦИЯ
